html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #0a070f;
  font-family: "Helvetica", "monospace";
}

.header {
  position: relative;
  padding-bottom: 220px;
  background-color: #0a070f;

  background-image: url("./img/leandro-ruiz-ElJtHdaVwvg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 990px) {
  .header {
    padding-bottom: 60px;
  }
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 23px;
}

.github-container {
  padding-left: 18px;
}

.title-dot {
  color: #fa5432;
}

.main {
    background-color: white;
}

.main-title {
  font-family: "Roboto Mono", monospace;
  max-width: 350px;
  margin: 170px 0 80px 0;
  font-size: 68px;
  color: white;
  padding-bottom: 10px;
}

.last-y {
  letter-spacing: -12px;
}

.title-dot {
  letter-spacing: -7px;
}
@media (max-width: 900px) {
  .main-title {
    font-size: 52px;
    margin: 80px 20px 100px;
  }

  .last-y {
    letter-spacing: -9px;
  }

  .title-dot {
    letter-spacing: -6px;
  }
}

@media (max-width: 400px) {
  .main-title {
    margin: 80px 20px 75px;
  }
}

@media (max-width: 340px) {
  .main-title {
    font-size: 44px;
  }
}

.subtitle-text-container {
  color: white;
}
@media (max-width: 768px) {
  .subtitle-text-container {
    margin: 0 20px;
  }
}
.subtitle {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 10px;
}
.subtitle-text {
  font-size: 30px;
  padding-bottom: 15px;
}
.subtitle-read-the-docs {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.docs-arrow {
  position: relative;
  margin-left: 10px;
  top: 5px;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 40px;
  }
  .subtitle-text {
    font-size: 22px;
    padding-bottom: 15px;
  }
  .subtitle-read-the-docs {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
}

.why-para {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
  line-height: 34px;
}

@media (max-width: 768px) {
    .why-para {
        font-size: 22px;
        line-height: 30px;
    }
}

.why {
  padding: 80px 0 140px;
}
@media (max-width: 768px) {
  .why {
    padding: 100px 0;
  }
}

.why-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  color: black;
  line-height: 38px;
  text-align: center;
}
@media (max-width: 600px) {
  .why-title {
    line-height: 54px;
  }
}

ol,
ul {
  list-style: none;
}

.reason-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .reason-list {
    flex-direction: column;
    align-items: center;
  }
}

.reason {
  max-width: 250px;
  text-align: center;
  padding-bottom: 60px;
}

.reason-title {
  margin-top: 7px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #fa5432;
}

.reason-text {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.reason-icon {
  font-size: 100px;
  color: #fa5432;
}

footer {
  --mdc-theme-primary: rgb(22, 22, 22);
}

.footer {
  position: relative;
  background-color: #0a070f;
}
@media (max-width: 990px) {
  .footer {
    padding-bottom: 90px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 0px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pisa a {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
}

.pisa a.pisa-name {
  text-decoration: underline;
}

.getting-started {
  background: #0a070f;
  padding: 120px 0 50px 0;
}

.getting-started-title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 28px;
  color: white;
  line-height: 38px;
  text-align: center;
}
.code-header {
  font-size: 20px;
  color: white;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 600px) {
  .getting-started-title {
    line-height: 54px;
  }
}

.pre {
  margin-bottom: 50px;
  padding: 10px 50px;
  border-radius: 4px;
  background: #282c34;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 450px) {
  .pre {
    padding: 10px 25px;
  }
}

.code {
  padding: 0 !important;
  font-size: 13px;
  line-height: 24px;
}
